@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


.quicksand{
    font-family: "Quicksand";
}

.imgHover{
    transition:1s;
}
.imgHover:hover{
    transform: scale(1.1);
}